<!DOCTYPE html>
<html lang="en">
<head>

    <title>Ivan Bauer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="developer, freelance">
    <meta name="description" content="My personal website to show off my projects, and some details about me">

    <!--    <link rel="stylesheet" type="text/css" href="./style.css"  />-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
		<link rel="shortcut icon" href="icon/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
    <!-- <script src="script.js"></script> -->



</head>
<body id="home">
<section class="hero is-medium is-bold has-background-dark">
    <div class="hero-body">
        <div class="container">

            <h1 class="title has-text-light big-text">
                A <span class="has-text-primary">Website</span> that provides the exact <span class="has-text-primary">time</span>,
                regardless of <span class="has-text-primary">time zone</span>, of every <span class="has-text-primary">MMA Event</span>
            </h1>
            <h2 class="subtitle has-text-light">
                Primary bold subtitle
            </h2>

        </div>
    </div>
</section>


<section class="hero is-medium is-bold" style="padding-bottom:0;margin-bottom:0;">
    <div class="hero-body" style="">
        <div class="container" style="">
            My Personal Website sick

        </div>
    </div>
</section>


<section class="hero is-medium" style="background:#1B1924;">
    <div class="hero-body">
        <div class="container" style="width:60%;padding-left:7.5%;">

            <div class="columns is-multiline is-mobile">
                <div class="column is-one-quarter" style="color:#F4F4F4;line-height:60%;">
                    <span style="font-size:1.7em;">MMA</span><br>
                    <span style="font-size:0.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Countdown</span>
                </div>
                <div class="column is-one-quarter has-text-grey">
                    <h3 style="color:#48D3D4;">Location</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <h3 style="color:#48D3D4;">Contact</h3>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <h3 style="color:#48D3D4;">Legal</h3>
                </div>

                <div class="column is-one-quarter vertical-align-text-div" style="color:#F4F4F4;line-height:80%;">
                <div class="vertical-align-text-p">
                    <span style="font-size:0.7em;">© All Rights Reserved 2019</span><br>
                    <span style="font-size:0.7em;">MMA Countdown</span>
                </div>
                </div>
                <div class="column is-one-quarter has-text-grey">
                        <a class="underline--magical" target="_blank"
                           href="put_location_google_maps" style="text-decoration: none;color: #fff;">
                            A Student House</br>
                            Hamilton, Canada</a>
                </div>
                <div class="column is-one-quarter has-text-grey-light">
                    <a class="link" target="_blank" href="tel:XXX-XXX-XXXX" style="color:#F4F4F4;">XXX-XXX-XXXX</a> </br>
                    <a class="link" target="_blank" href="mailto:XXX@XXXXXXXX.XXX?subject=General Inquiry" style="color:#F4F4F4;">XXX@XXXXXXXX.XXX</a>
                </div>
                <div class="column is-one-quarter has-text-grey-lighter">
                    <a class="link" href="/terms-privacy" style="color:#F4F4F4;">Terms &amp; Privacy</a>
                </div>
            </div>


        </div>
    </div>
</section>


</body>
</html>
